 @import url('./VT323/VT323-Regular.ttf');

body {
	margin: 0px;
}

#mobile-message {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
	text-align: center;
  font-family: 'VT323', monospace;
  display: none;
}
#mobile-message p {
	margin-top: 300px;
	font-size: 40px;
}

#area {
	position: absolute;
	background-color: #000;
}

.score {
	position: absolute;
	width: 100%;
	margin-top: 100px;
	color: #FFF;
	text-align: center;
	font-size: 50px;
  font-family: 'VT323', monospace;
}

.score #score-tab1 {
	/*margin-right: 10px;*/
}
.score #score-tab2 {
	/*margin-left: 10px;*/
}

#message {
	position: absolute;
	width: 100%;
	margin-top: 100px;
	text-align: center;
	color: #FFF;
	font-size: 50px;
  font-family: 'VT323', monospace;
  display: none;
}

#tab1 {
	position: absolute;
	/*width: 15px;*/
	/*height: 80px;*/
	background-color: #FFF;
}
#tab2 {
	position: absolute;
	/*width: 15px;*/
	/*height: 80px;*/
	background-color: #FFF;
}

#ball {
	position: absolute;
	/*width: 20px;*/
	height: 20px;
	background-color: #FFF;
	border-radius: 50%;
}